
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <ul class="left-info">
                    <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>123-456-7890</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="right-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<header class="">

    <div>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" th:href="@{/home}"><h2>Mobile Store<em> Website</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li style="margin-left: 100px" class="nav-item">
                            <a class="nav-link" th:href="@{/home}">Home
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle nav-link" data-toggle="dropdown" th:href="@{/products}" role="button" aria-haspopup="true" aria-expanded="false">Products</a>

                            <div class="dropdown-menu" >
                                <div th:each="category : ${categorys}">
                                    <a class="dropdown-item" th:if="${category.id == 1}" th:href="@{/products}" th:text="${category.getName()}"></a>
                                    <a class="dropdown-item" th:if="${category.id != 1}"  th:href="@{/products/{categoryId}(categoryId=${category.getId()})}" th:text="${category.getName()}"></a>

                                </div>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" th:href="@{/cart}">Cart</a>
                        </li>
                        <li style="margin-left: 80%">
                            <div th:if = "${name == null}">
                                <a class="nav-link " th:href="@{/login}">Login</a>
                            </div>
                            <div th:if = "${name != null}">
                                <a class="nav-link" th:text = "${name}"></a>
                            </div>
                            <div th:if = "${name != null}">
                                <a class="nav-link" th:href = "@{/logout}"></a>
                            </div>
                        </li>
                        <li>
                            <div th:if = "${name != null}">
                                <a class="nav-link" th:href = "@{/logout}">Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>