<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link th:href="@{/admin_static/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link th:href="@{/admin_static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/admin_static/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/admin_static/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

    <div th:include="/user-admin/common/sidebar"></div>

    <!-- Content Start -->
    <div class="content">

        <div th:include="/user-admin/common/nav"></div>

        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-8 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Basic Form</h6>
                        <form
                                id="formSubmit"
                                th:action="@{admin_static}"
                                th:object="${user}"
                                role="form"
                                method="post">

                            <input id="idUser" name="id" type="hidden" th:field="*{id}">
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" name="fullName" class="form-control" id="fullName"
                                       th:field="*{fullName}">

                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <input type="text" name="gender" class="form-control" id="gender"
                                       th:field="*{gender}">

                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" id="email"
                                       th:field="*{email}">

                            </div>
                            <div class="mb-3">
                                <label for="birthdayStr" class="form-label">Birth day</label>
                                <input type="date" name="birthdayStr" class="form-control" id="birthdayStr"
                                       th:field="*{birthdayStr}">

                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" id="username"
                                       th:field="*{username}">

                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       th:field="*{password}">

                            </div>
                            <div class="mb-3">
                                <label for="roleNames" class="form-label">roleNames</label>
                                <input type="text" name="roleNames" class="form-control" id="roleNames"
                                       th:field="*{roleNames}">

                            </div>

                            <button type="submit" id="btnAddOrUpdateUser" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->


        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{admin_static}"></script>
<script th:src="@{admin_static}"></script>
<script th:src="@{admin_static}"></script>
<script th:src="@{admin_static}"></script>
<script th:src="@{/admmin/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{admin_static}"></script>
<script th:src="@{admin_static}"></script>

<!-- Template Javascript -->
<script th:src="@{admin_static}"></script>
</body>
<script>
    $('#btnAddOrUpdateUser').click(function (e) {
        e.preventDefault();
        var data = {};
        var formData = $('#formSubmit').serializeArray();
        $.each(formData, function (i, v) {
            data[""+v.name+""] = v.value;
        });
        var id = $('#idUser').val();
        if (id == "") {
            addUser(data);
        } else {
            updateUser(data);
        }
    });

    function addUser(data) {
        $.ajax({
            url: '/api/user',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                window.location.href = "../../static/admin_static/user";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function updateUser(data) {
        $.ajax({
            url: '/api/user',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                window.location.href = "../../static/admin_static/user";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

</html>