<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/user-admin/common/head::head"></head>

<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

    <div th:include="/user-admin/common/sidebar"></div>

    <!-- Content Start -->
    <div class="content">

        <div th:include="/user-admin/common/nav"></div>

        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-8 col-xl-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Basic Form</h6>
                        <form
                                id="formSubmit"
                                th:action="@{admin/user/user-info}"
                                th:object="${user}"
                                role="form"
                                method="post">

                            <input id="idUser" name="id" type="hidden" th:field="*{id}">
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" name="fullName" class="form-control" id="fullName"
                                       th:field="*{fullName}">

                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <input type="text" name="gender" class="form-control" id="gender"
                                       th:field="*{gender}">

                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" id="email"
                                       th:field="*{email}">

                            </div>
                            <div class="mb-3">
                                <label for="birthdayStr" class="form-label">Birth day</label>
                                <input type="date" name="birthdayStr" class="form-control" id="birthdayStr"
                                       th:field="*{birthdayStr}">

                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="username" class="form-control" id="username"
                                       th:field="*{username}">

                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" class="form-control" id="password"
                                       th:field="*{password}">

                            </div>
                            <div class="mb-3">
                                <label for="roleNames" class="form-label">roleName</label>
                                <input type="text" name="roleNames" class="form-control" id="roleNames"
                                       th:field="*{roleName}">

                            </div>

                            <button type="submit" id="btnAddOrUpdateUser" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->

    </div>
</div>

<footer th:include="/user-admin/common/footer::footer"></footer>
</body>
<script>
    $('#btnAddOrUpdateUser').click(function (e) {
        e.preventDefault();
        var data = {};
        var formData = $('#formSubmit').serializeArray();
        $.each(formData, function (i, v) {
            data[""+v.name+""] = v.value;
        });
        var id = $('#idUser').val();
        if (id == "") {
            addUser(data);
        } else {
            updateUser(data);
        }
    });

    function addUser(data) {
        $.ajax({
            url: '/api/user',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                window.location.href = "/admin/user";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function updateUser(data) {
        $.ajax({
            url: '/api/user',
            type: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (result) {
                console.log(result);
                window.location.href = "/admin/user";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>

</html>