
<footer>

  <!-- JavaScript Libraries -->
  <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- JavaScript Libraries -->
  <script th:src="@{/admin_static/lib/chart/chart.min.js}"></script>
  <script th:src="@{/admin_static/lib/easing/easing.min.js}"></script>
  <script th:src="@{/admin_static/lib/waypoints/waypoints.min.js}"></script>
  <script th:src="@{/admin_static/lib/owlcarousel/owl.carousel.min.js}"></script>
  <script th:src="@{/admin_static/lib/tempusdominus/js/moment.min.js}"></script>
  <script th:src="@{/admin_static/lib/tempusdominus/js/moment-timezone.min.js}"></script>
  <script th:src="@{/admin_static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

  <!-- Template Javascript -->
  <script th:src="@{/admin_static/js/main.js}"></script>


</footer>
<!-- Footer Start -->
