<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
  <a class="navbar-brand d-flex d-lg-none me-4">
    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
  </a>
  <div class="navbar-nav align-items-center ms-auto">
    <div class="nav-item">
      <a href="#" class="nav-link ">
        <img class="rounded-circle me-lg-2" th:src="@{/admin_static/img/user.jpg}" alt="" style="width: 40px; height: 40px;">
        <span class="d-none d-lg-inline-flex" th:text = "${name}"></span>
      </a>
    </div>
    <div class="nav-item">
      <a th:href="@{/logout}" class="dropdown-item">Log Out</a>
    </div>
  </div>
</nav>
<!-- Navbar End -->
