<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/user-admin/common/head::head"></head>
<body>
<div class="container-xxl position-relative bg-white d-flex p-0">

    <div th:include="/user-admin/common/sidebar"></div>



    <!-- Content Start -->
    <div class="content">

        <div th:include="/user-admin/common/nav"></div>


        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <a class="btn btn-sm btn-primary" th:href="@{/admin/product/product-info}">Add new product</a>
                </div>
                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-dark">
                            <th scope="col">Id</th>
                            <th scope="col">Product code</th>
                            <th scope="col">Title</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category Id</th>
                            <th scope="col">Short Description</th>
                            <th scope="col">Description</th>
                            <th scope="col">Old price</th>
                            <th scope="col">Price</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <td id="idProduct" th:text="${product.id}"></td>
                            <td th:text="${product.productCode}"></td>
                            <td th:text="${product.title}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.getCategoryId()}"></td>
                            <td th:text="${product.shortDescription}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.oldPrice}"></td>
                            <td th:text="${product.price}"></td>
                            <td><a class="btn btn-sm btn-primary" th:href="@{/admin/product/product-info/{id}(id=${product.getId()})}">Detail</a></td>
                            <td><button th:onclick="'deleteProduct(' + ${product.getId()} + ')'" class="btn btn-sm btn-primary" >Delete</button></td>

                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
    </div>
</div>
        <footer th:include="/user-admin/common/footer::footer"></footer>
</body>

<script>

    $('#BtnDeleteProduct').click(function (e){
        var id = $('#idProduct').val();
        deleteProduct(id);
    });


    function deleteProduct(id) {
        $.ajax({
            url: '/api/product/'+id,
            type: 'DELETE',
            contentType: 'application/json',
            success: function (result) {
                console.log(result);
                window.location.href = "/admin/product";
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>

</html>