<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="/guest/common/header::head"></head>

  <body>
  <header th:include="/guest/common/navigation::header"></header>


    <!-- Page Content -->
    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 style="color: white" th:text="${category.getName()}"></h1>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">

          <div class="col-6 col-sm-3" th:each="product : ${products}" >
            <div class="service-item">
              <img style="width: 300px; height: 400px"  th:src="'data:image/png;base64,'+${product.avatar}" alt="">
              <div class="down-content">

                <div class="row">

                  <div style="width: 300px; height: 100px" class="col-30 col-sm-12">
                    <h4 th:text = "${product.name}"></h4>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>

                  <div style="width: 300px; height: 100px" class="col-30 col-sm-12">
                    <div style="margin-bottom:10px;">
                  <span>
                      <del><p th:text = "'$'+${product.oldPrice}"></p></del><p th:text = "'$'+${product.price}"></p>
                  </span>
                    </div>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>

                  <div style="width: 300px; height: 100px" class="col-30 col-sm-12">
                    <p th:text = "${product.shortDescription}"></p>
                  </div>
                  <div class="w-100 d-none d-md-block"></div>

                  <div style="width: 300px; height: 100px" class="col-30 col-sm-12">
                    <a th:href="@{'/products/detail/'+ ${product.name}}"  class="filled-button">View More</a>
                  </div>

                </div>
              </div>

              <br>
            </div>
          </div>
        </div>

        <br>
        <br>

        <nav>
          <ul id="pagination" class="pagination pagination-lg justify-content-center"></ul>
        </nav>

        <br>
        <br>
        <br>
        <br>
      </div>
    </div>

    <!-- Footer Starts Here -->
<footer th:include="/guest/common/footer::footer"></footer>


  </body>
</html>