<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="/user-admin/common/head"></head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a th:href="@{/home}" class="">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Mobile Store</h3>
                            </a>
                            <h3>Sign Up</h3>
                        </div>
                        <form
                                id="formSubmit"
                                th:object="${userDto}"
                                role="form"
                                method="post">

                            <input id="idUser" name="id" type="hidden" th:field="*{id}">
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name</label>
                                <input type="text" name="fullName" class="form-control" id="fullName"
                                       th:field="*{fullName}">

                            </div>
                            <div class="mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <div>
                                    <select id="gender" th:field="*{gender}" class="form-select" aria-label="Default select example">
                                        <option th:value="'Male'" th:text="Male"></option>
                                        <option th:value="'FeMale'" th:text="Female"></option>
                                    </select>

                                </div>


                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" name="email" class="form-control" id="email"
                                       th:field="*{email}">

                            </div>
                            <div class="mb-3">
                                <label for="birthdayStr" class="form-label">Birth day</label>
                                <input type="date" name="birthdayStr" class="form-control" id="birthdayStr"
                                       th:field="*{birthdayStr}">

                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <div th:if="*{username == null} ">
                                    <input type="text" name="username" class="form-control" id="username"
                                           th:field="*{username}">
                                </div>

                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="text" name="password" class="form-control" id="password"
                                       th:field="*{password}">

                            </div>
                            <div class="mb-3">
                                <div>
                                    <select hidden  id="roleName" th:field="*{roleName}" class="form-select" aria-label="Default select example">
                                        <option selected th:value="'User'" th:text="User"></option>

                                    </select>
                                </div>


                            </div>


                            <button type="submit" id="btnAddOrUpdateUser" class="btn btn-primary">Submit</button>
                        </form>

                        <p class="text-center mb-0">Already have an Account? <a href="">Sign In</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>
        <footer th:include="/user-admin/common/footer"></footer>
</body>
<!--<script>-->
<!--    $('#btnRegister').click(function (e) {-->
<!--        e.preventDefault();-->
<!--        var data = {};-->
<!--        var formData = $('#formSubmit').serializeArray();-->
<!--        $.each(formData, function (i, v) {-->
<!--            data[""+v.name+""] = v.value;-->
<!--        });-->
<!--        data["roleName"]='User';-->
<!--        console.log(data);-->
<!--        addUser(data);-->
<!--    });-->

<!--    function addUser(data) {-->
<!--        $.ajax({-->
<!--            url: '/api/user',-->
<!--            type: 'POST',-->
<!--            contentType: 'application/json',-->
<!--            data: JSON.stringify(data),-->
<!--            dataType: 'json',-->
<!--            success: function (result) {-->
<!--                console.log(result);-->
<!--                window.location.href = "/login";-->
<!--            },-->
<!--            error: function (error) {-->
<!--                console.log(error);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--</script>-->

</html>